@use '../../utils/utils.scss' as *;

.conteiner-quiz-main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    font-family: "Inter", Arial, Helvetica, sans-serif;

}

.selecionado-botao-dificuldade-e-tema {
    box-shadow: 0px 0px 11px 3px #00BCD4;
    transform: translateY(rem(-20)) !important;
}
