.conteiner-handler {
    width: 100%;
    height: 100%;
    
}

.conteiner-disabled {
    pointer-events: none !important;
    * {
        transition: 0s !important;
    }
}


//animacao
.Show-Quiz {animation: Show-Quiz-keyframe 1s ease-in-out 1 forwards;}

@keyframes Show-Quiz-keyframe {
    from {
        transform: translateX(-120%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.DesShow-Quiz{animation: DesShow-Quiz-keyframe 1s ease-in-out 1 forwards;}
@keyframes DesShow-Quiz-keyframe {
    from {
        transform: translateY(0%);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-120%);
    }
}
