@use '../../../utils/utils.scss' as *;

.wraper-conteiner-info-main {
    transition: 0.2s ease;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: rem(5);
    min-width: rem(200);
    max-width: rem(300);
    height: rem(100);

    .conteiner-info-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: rem(10);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        background: $cor-fundo-infoConecte;
        color: $cor-color-infoConecte; 
    }

    .show-conteiner-info-main {
        transition: 1s;
        background: $cor-fundo-infoConecte;
        height: 50%;
        width: rem(20);
        font-size: rem(20);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 100%;
        cursor: pointer;
        //centralizando o mesmo na vertical
        top: 50%;
        transform: translateY(-50%);
        //clip path 
        clip-path: polygon(
            0 0,
            100% 25%,
            100% 75%,
            0 100%);
        
        img {
            transition: 0.3s;
            aspect-ratio: 1 / 1;
            object-fit: contain;
            width: 100%;
        }
    }
}