@use "../../../../utils/utils.scss" as *;

.conteiner-descubrar-palavra-main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    * {
        color: white;
    }

    .conteiner-descubrar-palavra {
        margin-top: rem(25);
        min-width: 90%;
        max-width: 90%;
        min-height: rem(550);
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.568);

        .descubrar-palavra-pular-quiz {
            position: absolute;
            right: 10%;
            top: 5%;
            width: rem(70);
            height: rem(30);

            &:hover::before {
                content: "Pular – perderá a chance de responder corretamente.";
                height: auto;
                width: rem(150);
                height: rem(60);
                border-radius: rem(5);
                font-size: rem(15);
                background: black;
                color: white;
                padding: rem(5);
                letter-spacing: rem(0.1);
                word-spacing: rem(0.1);
            }

            &::before {
                background: white;
                color: black;
                transition: 1s ease;
                z-index: 1000;
                content: '?';
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: rem(3);
                position: absolute;
                left: 110%;
                top: -20%;
                padding: rem(5);
                aspect-ratio: 1 / 1;
                height: rem(10);
                text-align: justify;
                text-wrap: wrap;
                hyphens: auto;
            }

            button {
                width: 100%;
                height: 100%;
                border: 0;
                outline: 0;
                background: rgb(195, 192, 13);
                color: rgb(255, 249, 249);
                font-weight: bold;
                font-size: rem(20);
                border-radius: rem(5);
                border: rem(1) solid rgba(0, 0, 0, 0.568);
                cursor: pointer;
            }
        }

        .conteiner-pergunta-descubrar-palavra-quiz {
            display: flex;
            flex-direction: column;
            gap: rem(15);
            height: 30%;
            width: 100%;
            background: rgb(50, 13, 88);         

            .title-descubrar-palavra {
                padding: rem(5);
                background: linear-gradient(45deg, rgba(128, 56, 199, 0.705), rgba(0, 0, 0, 0));
                font-size: rem(35);
                width: 100%;
                height: auto;
            }

            .descubrar-palavra-dica {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                padding: rem(10);
                gap: rem(5); 
                background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(128, 56, 199, 0.705));

                p:nth-child(1) {
                    font-size: rem(25);
                    font-weight: bolder;
                    margin-left: rem(10);

                }

                p:nth-child(2) {
                    font-size: rem(20);
                    margin-left: rem(5);
                }
            }
        }

        .conteiner-descubrar-game {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-top: rem(20);

            .descubrar-game-chance {
                position: absolute;
                left: rem(5);
                top: rem(5);
                font-size: rem(30);
                font-weight: bolder;
            }

            .conteiner-nome-grid-quiz-completa, .conteiner-nome-grid-quiz-jogar {
                width: 100%;
                min-height: 50%;
                height: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                row-gap: rem(5);
                column-gap: rem(10);
                padding: rem(30);
            }

            .conteiner-nome-grid-quiz-jogar {
                padding: rem(5);
                align-items: flex-start;
            }
        }
    }
}

.disabled-all {
    pointer-events: none !important;
}


//Responsividade
//Responsividade do pc nao vai "existir"  por se um jogo, e por nois esta mexendo com position absolute
//Responsividade para dispositivos moveis, sim vai existir.