@use "../../../../utils/utils.scss" as *;


.conteiner-alternativas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3%;
    width: 100%;
    height: 60%;

    .Alternativas-Objetivas-Escolhar {
        display: flex;
        align-items: center;
        gap: rem(25);
        width: 95%;
        height: 22%;
        border-radius: rem(10);
        padding-right: rem(10);
        transition: 0.2s linear;
        cursor: pointer;

        &:hover {
            transform: scale(1.05) translate(rem(-5), rem(-5));
            box-shadow: 0 0 20px 8px rgba(9, 250, 17, 0.228);
        }

        .Alternativas-Letras {
            height: 85%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background: white;
            margin-left: rem(10);
            font-size: rem(40);
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            color: white;
            text-align: justify;
            font-size: rem(30);
            overflow-x: auto;
            width: fit-content;
        }
    }

    @keyframes Alternativa-Errada-KeyFrame {
        from {
            background: rgb(228, 23, 23);
            border: rem(2) solid rgb(106, 0, 0);
        }
        to {
            border-width: rem(0);
        }
    }

    .Alternativa-Errada {
        animation: Alternativa-Errada-KeyFrame 0.5s ease-in-out 4 forwards;
    }

    @keyframes Alternativa-Certa-KeyFrame {
        from {
            background: rgb(13, 228, 88);
            border: rem(2) solid rgb(6, 120, 46);
        }
        to {
            border-width: rem(0);
        }
    }

    .Alternativa-Certa {
        animation: Alternativa-Certa-KeyFrame 0.5s ease-in-out 4 forwards;
    }

    .disabled-alternativas {
        pointer-events: none;
    }
}