@use './utils/utils.scss' as *;

.App-Main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: $cor-fundo-main;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-size: 300% 300%;
    animation: deagrade-move 3s alternate infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes deagrade-move {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {  
        background-position: 100% 0%;
    }
}


//Scrolll
/* Barra de rolagem Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* altura para scroll horizontal */
}

*::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.35);
}

/* Barra de rolagem Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #868686 rgba(0, 0, 0, 0.35);
}

