@use '../../../../utils/utils.scss' as *;

.head-quiz-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: rem(5);
    background: $cor-head-quiz-main;
    color: $cor-head-text;

    &::after , &::before {
        position: absolute;
        display: inline;
        content: '';
        width: rem(50);
        height: rem(40);
        background: $cor-head-quiz-main;
        top: 100%;  
    }
    &::after {
        right: 0;
        clip-path: polygon(
            100% 0%,
            0% 0%,
            100% 100%
        );
    }

    &::before {
        left: 0;
        clip-path: polygon(
            0% 0%,
            100% 0%,
            0% 100%
        );
    }

    h1 {
        font-size: rem(70);
    }

    p {
        font-size: rem(20);
    }
}


////////////////////////////////////////////////////////////////////
//-Responsividade
//PC
@media (max-width: 800px) {
    .head-quiz-main {
        h1 {
            font-size: rem(60);
        }
        p {
            font-size: rem(15);
        }
        &::after, &::before {
            height: rem(30);
            width: rem(40);
        }
    }
}


@media (max-width: 550px) {
    .head-quiz-main {
        h1 {
            font-size: rem(55);
        }

        &::after, &::before {
            height: rem(25);
            width: rem(35);
        }
    }
}