//paletas
$color-base: #4CAF50;   // Verde principal (fundo / header)
$color-text: #FFFFFF;   // Texto em branco
$color-highlight: #FFC107; // Amarelo para botões / destaques
$color-error: #F44336;  // Vermelho (erros)
$color-success: #2196F3; // Azul (acertos / info)
//cor fundo
$cor-fundo-main: linear-gradient(to top left, #4CAF50, transparent),
    linear-gradient(to top right, #306d9e, transparent),
    linear-gradient(to bottom left, #2196F3, transparent),
    linear-gradient(to bottom right, #4CAF50, transparent);
//Cor botao logar ou cadastrar
$cor-fundo-botao-logar-cadastrar: #28a5e3;
$cor-fundo-hover-botao-logar-cadastrar: #2f586c;
$cor-text-botao-logar-cadastrar: white;
//Cor cadastro e login pae.
$cor-entrar-h1: #181d17;
$cor-entrar-fundo: white;
$cor-entrar-label: #585a5d; 
$cor-entrar-border-entrada: #c7c8ca;
$cor-entrar-entrar-placeholder: rgb(67, 67, 67);
$cor-entrar-botao-entrar: #2d88f4;
$cor-entrar-botao-entrar-text: #fffffc;
$cor-entrar-trocao-opcao-text-normal: #606261;
$cor-entrar-troca-opcao-destaque: #0074f1;
//home
$cor-h1-text-home: white;
$cor-subtiulo-text-home: white;
$cor-home-fundo-botao-iniciar: #FFC107; 
$cor-home-text-botao-iniciar: white;
//Info Conectado
$cor-fundo-infoConecte: #42ea7d;
$cor-color-infoConecte: #231a2b;
$cor-infoConecte-fundo-pontos: #ffffff79; 
$cor-infoConecte-fundo-pontos-hover: rgba(255, 255, 255, 0.672); 
//quiz main
//--head
$cor-head-quiz-main: #2051314d; 
$cor-head-text: white; 
//Seleciona Tema
$cor-opcao-tema-quiz-main: #30f47562;
$cor-opcao-tema-border-quiz-main: rgba(19, 29, 21, 0.517);
$cor-opcao-tema-text-quiz-main: white;

//--Card
$cor-opcao-tema-conteiner-back: #30f4752e;
//
$cor-opcao-tema-show-nome-back: rgb(33, 91, 55);
$cor-opcao-tema-show-nome-border: rgba(23, 203, 68, 0.733);
$cor-opcao-tema-show-nome-color: white;
//Escolhe dificuldade
$cor-dificuldade-quiz-back-h1: rgba(28, 47, 35, 0.696); 
$cor-dificuldade-quiz-h1: white;
//--Cores botao dificuldade
$cor-dificuldade-botao-back: #2121219f;
$cor-dificuldade-botao-facil: #4CAF50;
$cor-dificuldade-botao-medio: #FFC107;
$cor-dificuldade-botao-dificil: #F44336;
//botao comeca
$cor-quiz-main-botao-comeca: #4CAF50;

//funcao que transoforme px em rem paizao
@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Numans&display=swap');
